/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*SM*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/*Text Management*/
/*-------------------------------------------------------------*/

h1, h2, h3, p, a {
    font-family: Roboto !important;

}

h1, h2, h3, a {
    font-weight: bold !important;
    text-align: center;
}

p {
    text-align: justify;
}

h1 {
    font-size: 50px !important;
}

h2 {
    font-size: 28px !important;
}

h3 {
    font-size: 22px !important;
}

p {
    font-size: 16px !important;
}

a {
    font-size: 16px !important;
    text-decoration: underline !important;
    color: #303030 !important;
    cursor: pointer;
}

i {
    font-size: 32px !important;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

/*-------------------------------------------------------------*/
/*Color and general component Management*/
/*-------------------------------------------------------------*/

.row {
    margin: 0px !important;
}

.personality-openness {
    background-color: #2ECC71 !important;
    color: #2ECC71;
}

.personality-conscientiousness {
    background-color: #F1C40F !important;
    color: #F1C40F;
}

.personality-extraversion {
    background-color: #E74C3C !important;
    color: #E74C3C;
}

.personality-agreeableness {
    background-color: #9B59B6 !important;
    color: #9B59B6;
}

.personality-neuroticism {
    background-color: #3498DB !important;
    color: #3498DB;
}

.content {
    margin: 50px 25px 50px 25px;
}

.light {
    background-color: #FFFFFF;
    color: #303030;
    overflow: hidden;
}

.medium {
    background-color: #F5F5F5;
    color: #303030;
    overflow: hidden;
}

.dark {
    background: linear-gradient(
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
    ), url(../images/background.jpg) repeat 0 0 fixed;
    color: #FFFFFF;
    overflow: hidden;
}

.progressbar-back {
    background-color: transparent;
    border: black solid 2px;
    text-align: center;
    height: 20px;
    padding: 0px !important;
    margin-bottom: 5px;
}

.progressbar-front {
    background-color: #303030;
    border: transparent;
    width: 100%;
    height: 100%;
}

.dark .progressbar-back {
    border: #F5F5F5 solid 2px;
}

.medium .progressbar-back {
    border: #303030 solid 2px;
}


/*-------------------------------------------------------------*/
/*Header*/
/*-------------------------------------------------------------*/

#section-header {
    position: fixed;
    will-change: transform;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 65px;
    box-shadow: 0 2px 15px #2a2a2a;
}

#section-header a {
    float: right;
    margin: 18px 50px 0px 0px;
    text-decoration: none !important;
    font-weight: bold !important;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#section-header a:hover {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#section-header-a-1:hover {
    color: #2ECC71 !important;
}

#section-header-a-2:hover {
    color: #F1C40F !important;
}

#section-header-a-3:hover {
    color: #9B59B6 !important;
}

/*-------------------------------------------------------------*/
/*Elements*/
/*-------------------------------------------------------------*/

#section-elements {
    margin-top: 65px;
}

#section-elements-hidden {
    display: none;
}

/*-------------------------------------------------------------*/
/*Element*/
/*-------------------------------------------------------------*/

.element {
    padding: 35px !important;
}

.element-headline {
    margin-bottom: 15px;
}

.element-play {
    width: 100%;
    height: 30px;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}

.element-play button {
    margin: auto !important;
    padding-top: 1px;
    width: 150px;
    height: 30px;
    border: 2px solid #2ECC71;
    background-color: transparent;
    cursor: pointer;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.element-play button:hover {
    background-color: #2ECC71;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.element-play button:hover p{
    color: #FFFFFF;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.dark .element-play p {
    color: #FFFFFF;
}

.element-play p {
    color: #303030;
    text-align: center;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.element-more {
    font-size: 12px !important;
    opacity: 0.6;
}

.element-plays, .element-shares {
    font-size: 14px !important;
}

/*-------------------------------------------------------------*/
/*Footer*/
/*-------------------------------------------------------------*/

#section-footer-top {
    margin: 25px;
    text-align: center;
}

#section-footer-top a {
    color: #303030 !important;
}

#section-footer-bottom {
    margin: 15px;
}

#section-footer-bottom p {
    text-align: center;
}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*MD*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

@media (min-width: 768px) {
    .content {
        margin: 75px auto 75px auto;
        width: 700px;
    }

    #section-personality-1, #section-personality-4, #section-personality-5 {
        background-color: #F5F5F5;
        color: #303030;
    }

    #section-personality-3 {
        background-color: #FFFFFF;
        color: #303030;
    }

    .section-personality-content {
        padding: 50px;
    }

    #section-footer-top {
        margin: 25px auto 25px auto;
        width: 250px;
        text-align: center;
    }

    .section-main-answers-button {
        border-width: 3px;
        width: 50px;
        height: 50px;
    }

    .section-main-answers-button div {
        width: 35px;
        height: 35px;
    }
}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*LG*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
@media (min-width: 992px) {
    .content {
        margin: 75px auto 75px auto;
        width: 800px;
    }

    .section-personality-content {
        padding: 50px 80px 50px 80px;
    }
}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*XL*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
@media (min-width: 1200px) {
    h1 {
        font-size: 100px !important;
    }

    .content {
        margin: 75px auto 75px auto;
        width: 900px;
    }

    #section-personality-3 {
        background-color: #F5F5F5;
        color: #303030;
    }

    #section-personality-2, #section-personality-4, #section-personality-6 {
        background-color: #FFFFFF;
        color: #303030;
    }
}