/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*SM*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

/*-------------------------------------------------------------*/
/*Text Management*/
/*-------------------------------------------------------------*/

h1, h2, h3, p, a {
    font-family: Roboto !important;

}

h1, h2, h3, a {
    font-weight: bold !important;
    text-align: center;
}

p {
    text-align: center;
}

h1 {
    font-size: 50px !important;
}

h2 {
    font-size: 28px !important;
}

h3 {
    font-size: 22px !important;
}

p {
    font-size: 16px !important;
}

a {
    font-size: 16px !important;
    text-decoration: underline !important;
    color: #303030 !important;
    cursor: pointer;
}

i {
    font-size: 32px !important;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

/*-------------------------------------------------------------*/
/*Color and general component Management*/
/*-------------------------------------------------------------*/

.row {
    margin: 0px !important;
}

.personality-openness {
    background-color: #2ECC71 !important;
    color: #2ECC71;
}

.personality-conscientiousness {
    background-color: #F1C40F !important;
    color: #F1C40F;
}

.personality-extraversion {
    background-color: #E74C3C !important;
    color: #E74C3C;
}

.personality-agreeableness {
    background-color: #9B59B6 !important;
    color: #9B59B6;
}

.personality-neuroticism {
    background-color: #3498DB !important;
    color: #3498DB;
}

.content {
    margin: 50px 25px 50px 25px;
}

hr {
    width: 50px;
    height: 5px !important;
}

.light {
    background-color: #FFFFFF;
    color: #303030;
    overflow: hidden;
}

.light hr{
    background-color: #303030;
}

.medium {
    background-color: #F5F5F5;
    color: #303030;
    overflow: hidden;
}

.dark {
    background: linear-gradient(
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
    ), url(../images/background.jpg) repeat 0 0 fixed;
    color: #FFFFFF;
    overflow: hidden;
}

.dark hr{
    background-color: #FFFFFF;
}

.progressbar-back {
    background-color: transparent;
    border: white solid;
    text-align: center;
    height: 30px;
    padding: 0px !important;
}

.progressbar-front {
    background-color: #303030;
    border: transparent;
    width: 0px;
    height: 100%;
}


/*-------------------------------------------------------------*/
/*Header*/
/*-------------------------------------------------------------*/

#section-header {
    position: fixed;
    will-change: transform;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 65px;
    box-shadow: 0 2px 15px #303030;
}

#section-header a {
    float: right;
    margin: 18px 50px 0px 0px;
    text-decoration: none !important;
    font-weight: bold !important;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#section-header a:hover {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#section-header-a-1:hover {
    color: #2ECC71 !important;
}

#section-header-a-2:hover {
    color: #F1C40F !important;
}

#section-header-a-3:hover {
    color: #9B59B6 !important;
}


/*-------------------------------------------------------------*/
/*Footer*/
/*-------------------------------------------------------------*/

#section-footer-top {
    margin: 25px;
    text-align: center;
}

#section-footer-top .row {
    margin-bottom: 15px !important;
}

#section-footer-top a {
    color: #303030 !important;
    margin: 10px;
}

#section-footer-bottom {
    margin: 15px;
}

#section-footer-bottom p {
    text-align: center;
}

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*MD*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

@media (min-width: 768px) {
    .content {
        margin: 75px auto 75px auto;
        width: 700px;
    }

    #section-main .content {
        margin-top: 25px;
    }

    #section-personality-1, #section-personality-4, #section-personality-5 {
        background-color: #F5F5F5;
        color: #303030;
    }

    #section-personality-3 {
        background-color: #FFFFFF;
        color: #303030;
    }

    .section-personality-content {
        padding: 50px;
    }

    #section-footer-top {
        margin: 25px auto 25px auto;
        text-align: center;
    }

    .section-main-answers-button {
        border-width: 3px;
        width: 50px;
        height: 50px;
    }

    .section-main-answers-button div {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 768px) {
    .container {
        padding-top: 80px;
    }
}